  <!-- footer section  -->
  <footer class="footer-section">
    <div class="footer-content ">
      <div class="footer-logo">
        <a href="/"><img src="/assets/images/logo.png" class="logo-img" alt="" /> </a>
      </div>
     <!-- <div class="post-subjects">
        <p class="yellow-text">Postlar</p>
        <ul>
          <a href="https://nicatdursunlu.github.io/azecontent-web/posts/azerbaijani/">Azərbaycan dili</a>
          <a href="#">Ədəbiyyat</a>
          <a href="#">IKT</a>
          <a href="#">İqtisadiyyat</a>
          <a href="#">Psixologiya</a>
          <a href="#">Xaricdə Təhsil</a>
        </ul>
	 </div> -->
      <div class="social-media">
        <p class="yellow-text">
          Sosial Şəbəkələrdə Bizi İzləyin
        </p>
        <div class="social-media-icons">
          <a class="icons facebook" href="https://www.facebook.com/AzeContent">
            <i class="fab fa-facebook-square"></i>
          </a>
	 <a class="icons twitter" href="https://twitter.com/AzeContent">
            <i class="fab fa-twitter-square"></i>
	</a>
	 <a class="icons instagram" href="https://www.instagram.com/azecontent/">
            <i class="fab fa-instagram"></i>
          </a>
		
          <a class="icons linkedin" href="https://www.linkedin.com/company/AzeContent">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="icons youtube" href="https://www.youtube.com/channel/UCysif3A6J2_1IFqRhtZtpNw/featured">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
	
    <p class="all-rights">
	
      © 2020 <a href="#" class="azecontent">Aze<span>Content</span></a>
      | Bütün hüquqlar qorunur.
    </p>
  </footer>
