  <nav class="navbar">
        <div class="logo">
			<a href="/">
				<img src="/assets/images/logo.png" class="logo-img" alt="" />
			</a>
        </div>
        <ul class="menu">
          <li><a href="/">Əsas Səhifə</a></li>
          <div class="post-links-container">
            <a class="link post-link" href="https://nicatdursunlu.github.io/azecontent-web/posts">
				Postlar<i class="fas fa-caret-down"></i>
            </a>
            <div class="post-links-content">
              <li>
                <a class="post-link" href="/posts/azerbaijani">
                  Azərbaycan dili
                </a>
              </li>
              <li><a class="post-link" href="/posts/literature/">Ədəbiyyat</a></li>
              <li><a class="post-link" href="/posts/ict/">IKT</a></li>
              <li><a class="post-link" href="/posts/economy/">Iqdisadiyyat</a></li>
              <li><a class="post-link" href="/posts/eduabroad/">Xaricdə Təhsil</a></li>
              <li><a class="post-link" href="/posts/psychology/">Psixologiya</a></li>
            </div>
          </div>
		  
		  <!--<li>
            <a href="#">
              Postlar
              <i class="fas fa-caret-down"></i>
            </a>
          </li>-->
          <li><a href="/partnership/">Əməkdaşlıq</a></li>
          <li><a href="/about/">Haqqımızda</a></li>
          <li><a href="/team/">Komandamız</a></li>
          <li><a href="/contact/">Əlaqə</a></li>
          <li>
            <a class="language" href="#">
              <img src="../assets/images/AZ.png" alt="" />
              AZ<i class="fas fa-caret-down"></i>
            </a>
          </li>
        </ul>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </nav>