  <nav class="navbar">
        <div class="logo">
			<a href="/">
				<img src="/assets/images/logo.png" class="logo-img" alt="" />
			</a>
        </div>
     <div class="menu">
          <li class="link-li">
            <a class="link" href="/">Əsas Səhifə</a>
          </li>
          <div class="post-links-container">
            <a class="link" href="#">
              Postlar<i class="fas fa-caret-down"></i>
            </a>
            <div class="post-links-content">
              <li>
                <a class="post-link" href="/posts/azerbaijani">
                  Azərbaycan dili
                </a>
              </li>
              <li><a class="post-link" href="/posts/literature/">Ədəbiyyat</a></li>
              <li><a class="post-link" href="/posts/ict/">IKT</a></li>
              <li><a class="post-link" href="/posts/economy/">Iqdisadiyyat</a></li>
              <li><a class="post-link" href="/posts/eduabroad/">Xaricdə Təhsil</a></li>
              <li><a class="post-link" href="/posts/psychology/">Psixologiya</a></li>
            </div>
          </div>
          <li class="link-li"><a class="link" href="/partnership/">Əməkdaşlıq</a></li>
          <li class="link-li">
            <a class="link" href="/about/">Haqqımızda</a>
          </li>
          <li class="link-li">
            <a class="link" href="/team/">Komandamız</a>
          </li>
          <li class="link-li">
            <a class="link" href="/contact/">Əlaqə</a>
          </li>
          <div class="post-links-container">
            <a class="link" href="#">
			  <img src="/assets/images/AZ.png" alt="" />
              AZ<i class="fas fa-caret-down"></i>
            </a>
            <div class="post-links-content">
              <li>
                <a class="post-link" href="#">
                  EN
                </a>
              </li>
            </div>
          </div>
        </div>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
