@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary: #613CBF;
  --secondary: #FF8C00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1150px;
  padding: 0 30px;
  margin: 0 auto;
}

/* header title  */

.title-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin-top: 45px;
  color: #2E3440;
}

hr {
  background-color: #2E3440;
  width: 360px;
  text-align: center;
  height: 1px;
}


/* navbar section  */

.header-content {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo-img {
  width: 300px;
  height: 70px;
}

.menu-btn {
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/*  menu with dropdown */

.post-links-container {
  position: relative;
  display: inline-block;
}

.post-links-content {
  display: none;
  position: absolute;
  background-color: var(--primary);
  min-width: 160px;
  left: -40px;
  z-index: 999;
  border-radius: 5px;
  margin-top: 2px;
}

.post-link {
  color: var(--secondary);
  padding: 8px 15px;
  text-decoration: none;
  display: block;
}

.post-links-content .post-link:hover {
  background-color: #fff;
  border: 1px solid gray;
}

.post-links-container:hover .post-links-content {
  display: block;
}

.link-li, .post-links-container {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.link{
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #2E3440;
  transition: all 0.5s ease;
  padding-bottom: 3px;
  cursor: pointer;
}

.link:hover {
  color: var(--secondary);
  border-bottom: 1px solid var(--secondary);
}


/* old menu without dropdown */

/* .menu li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.menu li a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #2E3440;
  transition: all 0.5s ease;
  padding-bottom: 3px;
}

.menu li a:hover {
  color: var(--secondary);
  border-bottom: 1px solid var(--secondary);
} */



.menu img {
  margin-right: 10px;
}

.menu i {
  margin-left: 10px;
}

.language {
  /* float: right; */
}


.menu a i {
  margin-left: 5px;
  font-size: 21px;
}


/* home-section  */

.home-section {
  background-color: #fff;
  margin-bottom: 100px;
}

.btn-wrapper {
  display: flex;
  justify-content: center; 
}

.custom-btn {
  font-size: 20px;
  color: var(--secondary);
  background-color: var(--primary);
  text-decoration: none;
  width: 360px;
  padding: 12px 0;
  border-radius: 3px;
  text-align: center;
}

.home-content {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 60px;
  width: calc(100% - 10px);
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 16px 0 16px;
}

.post {
  border: 1px solid #E8E8E8;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.post-img {
  height: 250px;
  margin-bottom: 30px;
  width: 100%;
}

.post-info {
  padding-left: 16px;
}

.post-title {
  font-size: 25px;
  font-weight: 500;
}

.post-description {
  margin-top: 17px;
  color: #ADB5BD;
  font-size: 20px;
}

.post-row {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.post-date {
  font-size: 18px;
  font-weight: 500;
}

.read-btn {
  display: flex;
  align-items: center;
  padding: 5px 25px;
  background-color: var(--primary);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-right: 24px;
}

.read-btn img {
  margin-left: 10px;
}

.background {
  background: url("../images/background2.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.background-title {
  color: #fff;
  font-size: 86px;
  font-weight: 500;
}


/* category-section */

.category-section {
  margin-top: 50px;
}

.category-content {
  padding: 10px 40px;
}

.category-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.option {
  color: #2E3440;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}

.option:hover, .selected {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}


/* footer section  */

.footer-section {
  background-color: #2E3440;
  padding: 50px 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.post-subjects ul {
  display: flex;
  flex-direction: column;
}

.yellow-text {
  font-size: 28px;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 30px;
}

.post-subjects a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.post-subjects a:hover {
  color: var(--secondary);
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 0 auto;
}

.icons {
  font-size: 30px;
  color: #fff;
  transition: all 0.5s ease;
}

.facebook:hover {
  color: #1778f2;
}

.linkedin:hover {
  color: #2867b2;
}

.youtube:hover {
  color: #FF0000;
}

.all-rights {
  margin-top: 60px; 
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.azecontent {
  text-decoration: none;
  color:  var(--secondary);
}

.azecontent span {
  color: var(--primary);
}


/* responsive media query */

@media (max-width: 1300px) {
  /* new mneu  */
  .link-li, .post-links-container {
    margin-left: 20px;
  }
  /* old mneu  */
  /* .menu li {
    margin-left: 20px;
  } */
  .logo-img {
    width: 230px;
    height: 50px;
  }
  .home-content {
    grid-column-gap: 40px;
    width: calc(100% - 10px);
    margin: 100px 20px 0 20px;
  }
  .post-info {
    padding-left: 15px;
  }
  .post-title {
    font-size: 22px;
  }
  .post-description {
    font-size: 16px;
  }
  .post-date  {
    font-size: 17px;
  }
  .read-btn {
    font-size: 20px;
    padding: 3px 20px;
    margin-right: 15px;
  }
  .social-media-icons {
    width: 300px;
  }
}


@media (max-width: 1100px) {
  hr {
    width: 330px;
  }
  .title {
    font-size: 40px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
    color: var(--secondary);
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .menu {
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: var(--primary);
    text-align: center;
    transition: all 0.3 ease;
    z-index: 999;
  }
  .menu.active {
    padding: 20px 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
    /* new mneu  */
  .link-li {
    display: block;
  }
  /* old mneu  */
  /* .menu li {
    display: block;
  } */
  .link{
    display: inline-block;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary);
  }
  /* old mneu  */
  /* .menu li a {
    display: inline-block;
    margin: 8px 0;
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary);
  } */
  .home-content {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    width: calc(100% - 50px);
    margin: 100px 25px 0 25px;
  }


  /*  menu with dropdown */
  .post-links-content {
    background-color: var(--secondary);
  }
  .post-link {
    color: var(--primary);
  }
  .post-links-container {
    margin: 0 auto;
  }
}

@media (max-width: 990px) {
  .post {
    width: 100%;
  }
  .home-content {
    grid-column-gap: 60px;
    margin: 100px 20px 0 20px;
  }
  .all-rights {
    font-size: 18px;
  }
}

@media (max-width: 947px) {
  .category-content {
    padding: 10px 30px;
  }
  .option {
    font-size: 18px;
  }
  .home-content {
    grid-column-gap: 40px;
    width: calc(100% - 20px);
    margin: 100px 16px 0 16px;
  }
  .footer-logo, .post-subjects, .social-media {
    margin-bottom: 25px;
  }
  .yellow-text {
    font-size: 18px;
  }
  .post-subjects a {
    font-size: 15px;
  }
  .icons {
    font-size: 25px;
  }
  .social-media-icons {
    width: 200px;
  }
  .all-rights {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  .title {
    font-size: 35px;
  }
  .home-content {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 40px;
    width: calc(100% - 40px);
    margin: 100px 40px 0 70px;
  }
  .post {
    width: 75%;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo, .post-subjects, .social-media {
    margin-bottom: 25px;
  }
  .yellow-text {
    font-size: 24px;
  }
  hr {
    width: 300px;
  }
  .social-media-icons {
    width: 250px;
  }
  .all-rights {
    margin-top: 50px;
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .category-content {
    padding: 10px 10px;
  }
  .option {
    font-size: 17px;
    font-weight: 500;
  }
  .logo-img {
    width: 200px;
    height: 40px;
  }
  title {
    font-size: 30px;
  }
  .home-content {
    grid-column-gap: 40px;
    width: calc(100% - 20px);
    margin: 100px 35px 0 30px;
  }
  .post {
    width: 90%;
  }
  .yellow-text {
    font-size: 20px;
  }
  .post-subjects a {
    font-size: 15px;
  }
  .social-media-icons {
    width: 200px;
  }
  .all-rights {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .category-content {
    padding: 10px 1px;
  }
  .option {
    font-size: 13px;
  }
  hr {
    width: 240px;
  }
  .title {
    font-size: 27px;
  }
  .home-content {
    width: calc(100% - 1px);
    margin: 100px 5px 0 5px;
  }
  .post {
    width: 100%;
  }
  .post-info {
    padding-left: 15px;
  }
  .post-title {
    font-size: 22px;
  }
  .post-description {
    font-size: 17px;
  }
  .post-date  {
    font-size: 15px;
  }
  .read-btn {
    font-size: 20px;
    padding: 3px 20px;
    margin-right: 15px;
  }
  .yellow-text {
    font-size: 17px;
  }
  .post-subjects a {
    font-size: 14px;
  }
  .icons {
    font-size: 20px;
  }
  .social-media-icons {
    width: 180px;
  }
  .all-rights {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .category-content {
    padding: 10px 0;
  }
  .option {
    font-size: 9px;
  }
  hr {
    width: 180px;
  }
  .title {
    font-size: 22px;
  }
  .post-img {
    height: 200px;
  }
  .post {
    width: 100%;
  }
  .post-info {
    padding-left: 10px;
  }
  .post-title {
    font-size: 19px;
  }
  .post-description {
    font-size: 15px;
  }
  .post-date  {
    font-size: 13px;
  }
  .yellow-text {
    font-size: 14px;
  }
  .post-subjects a {
    font-size: 13px;
  }
  .icons {
    font-size: 17px;
  }
  .social-media-icons {
    width: 150px;
  }
  .all-rights {
    font-size: 12px;
  }
}
